body {
  font-family: poppins;
  color: rgb(245, 178, 95);
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo-text {
  font-family: monsterat;
  font-size: 22px;
  font-weight: 700;
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar {
  display: none;
  list-style: none;
  gap: 10px;
}

button {
  height: 30px;
  border-radius: 3px;
  background-color: rgb(245, 178, 95);
  font-size: 16px;
  font-weight: 800;
  color: black;
  border: none;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }

  .logo-text {
    font-weight: 800;
    font-size: 26px;
  }
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #946c0a;
}

.imageHero {
  width: 100%;
  height: auto;
}

.hero-icon {
  display: flex;
  justify-content: center;
  margin-top: -45px;
}

.icon {
  width: 90px;
  height: auto;
  border-radius: 50%;
}

.hero-content {
  text-align: center;
}

.heading {
  font-weight: 500;
  font-size: 50px;
  font-family: Montserrat;
}

@media (min-width: 768px) {
  .imageHero {
    height: 65vh;
  }

  .icon {
    width: 110px;
  }

  .heading {
    font-size: 55px;
  }
}

@media (min-width: 1200px) {
  .imageHero {
    height: 70vh;
  }

  .icon {
    width: 120px;
  }
}

/* About Section */
.about {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #946c0a;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
}

.imageAbout {
  width: 100%;
  height: 40vh;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
}

.heading2 {
  font-family: Montserrat;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    padding-top: 140px;
    gap: 40px;
  }

  .imageAbout {
    width: 45vw;
    height: auto;
  }

  .heading2 {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .about-container {
    padding-top: 50px;
  }

  .heading2 {
    font-size: 3em;
    margin: 65px 0;
  }

  .about-paragraf {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1300px) {
  .imageAbout {
    height: 85vh;
  }
}

/* Aminities Section */
.aminities {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #946c0a;
}

.aminities-text {
  text-align: center;
  padding: 0 40px;
}

.heading3 {
  font-family: montserrat;
}

.aminities-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.img {
  width: 100%;
  height: 160px;
}

@media (min-width: 768px) {
  .aminities {
    width: 100%;
    height: 80vh;
  }

  .aminities-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .img {
    width: 100%;
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .aminities {
    width: 100%;
    height: 100vh;
  }

  .aminities-img {
    display: grid;
    grid-template-columns: (3, 1fr);
  }

  .img {
    width: 100%;
    height: 250px;
  }

  .heading3 {
    font-size: xx-large;
  }
}

/* Connect Section */
.connect {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #946c0a;
}

.connect-container {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  gap: 20px;
}

.connect-text {
  text-align: center;
}

.heading3 {
  font-family: montserrat;
}

.connect-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h3 {
  margin: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  height: 130px;
  background-color: rgba(145, 92, 26, 0.3);
  border-radius: 10px;
}

.icon2 {
  width: 50px;
  height: auto;
}

@media (min-width: 768px) {
  .connect {
    height: 60vh;
  }

  .connect-box {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .box {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .connect {
    height: 80vh;
  }

  .connect-box {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .box {
    width: 100%;
    height: 300px;
  }

  .box h3 {
    font-size: x-large;
  }

  .icon2 {
    width: 100px;
  }
}

/* Footer */
.main-footer {
  width: 100%;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
}
